
body {
    background-image: url('cafe.png');
    background-size: cover; /* Para cobrir toda a área do corpo */
    background-repeat: no-repeat; /* Para não repetir a imagem */
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    

}


nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 50px;
        background-color:white;
    }
    

    

container {
max-width: 800px;
margin: 20px auto;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
text-align: center;
color: #492c2c;
}
.menu-item {
border-bottom: 1px solid #ccc;
padding: 10px 0;
display: flex;
justify-content: space-between;
}
.menu-item:last-child {
border-bottom: none;
}
.item-name {
font-weight:white;
}
.item-price {
color:white;
}
header {
    background-color:white;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
footer {
    background-color: #4e3c3c;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color:#ac5915;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #492c2c;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #3700ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2100b3;
}
.botao-consultar {
    background-color: #2100b3;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
    /* Adiciona um espaço entre os botões */
}
